<div class="cardsMain">
  {{#deck}}
  <div class="changeCards">
    <h3>Make Changes to {{name}}</h3>
  </div>
  <div id="addCardSection">
    <form id="addCard" action="/newcard/{{id}}" method="post">
      <input type="text" name="question" value="" placeholder="Question">
      <input type="text" name="answer" value="" placeholder="Answer">
      <button type="submit" name="button">Add Card</button>
    </form>
  </div>
    {{#Cards}}
      <div class="eachCard">
        <p>Card: {{id}}</p>
        <p>{{question}}?</p>
        <p>{{answer}}</p>
        <a href="#">Edit Card</a>
        <a href="/trash/{{id}}">Delete Card</a>
      </div>
    {{/Cards}}
  {{/deck}}
  {{^deck}}
    <h3>There are no decks.</h3>
  {{/deck}}
</div>
