<div class="main">
  <h3>You are logged in as: {{user}}</h3>
  <div class="home">
    <div class="deckInfo">
      <h4>Add New Deck of Cards Here</h4>
      <form id="buildNewDeck" action="/newdeck" method="post">
        <input type="text" name="name" value="" placeholder="Deck Name / Topic" autofocus required>
        <button type="submit" name="button">Create Deck</button>
      </form>
    </div>
    <div id="titles">
      <h4>Click "Start Quiz" on a Deck</h4>
    </div>
    {{#deck}}
    <div class="section">
      <p>Deck Name: {{name}}</p>
      <a href="/deck/{{id}}/quiz">Start Quiz</a>
      <a href="/deck/{{id}}">Change Cards</a>
    </div>
    {{/deck}}
    {{^deck}}
    <p>There are no decks.</p>
    {{/deck}}
  </div>
</div>
