<h2>CREATE A NEW DECK</h2>
<div class="deckInfo">
  <form class="newDeck" action="/newdeck" method="post">
    <input type="text" name="name" value="" placeholder="Deck Name">
    <button type="submit" name="button">Create Deck</button>
  </form>
</div>
<div class="">

</div>
