<div class="quizMain">
  {{#deck}}
  <div class="quizTitle">
    <h3>Quiz: {{name}}</h3>
  </div>
  {{#Cards}}
  <div class="eachQuizCard">
    <p id="quizQuestion">{{question}}</p>
    <p id="quizAnswer">{{answer}}</p>
    <button onclick="showAnswer(this)" name="cardAnswer">Show Answer</button>
  </div>
  {{/Cards}}
  {{/deck}}
  <script src="/quiz.js"></script>
</div>
