<div class="quizMain">
  {{#deck}}
  <div id="quizTitle">
    <h3>Quiz: {{name}}</h3>
    <div class="score">
    </div>
  </div>
  {{#Cards}}
  <div class="eachQuizCard">
    <p id="quizQuestion">{{question}}</p></br>
    <p id="quizAnswer">{{answer}}</p>
    <button onclick="showAnswer(this)" name="cardAnswer">Show Answer</button>
    <div class="addToScore">
      <button onclick="gotItRight()" name="correct">Got It Right!</button>
      <button onclick="gotItWrong()" name="wrong">Missed It :(</button>
    </div>
  </div>
  {{/Cards}}
  {{^Cards}}
    <h4>** No cards have been added to this deck. **</h4>
  {{/Cards}}
  {{/deck}}
  <script src="/quiz.js"></script>
</div>
