*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #e6ecff;
  font-family: sans-serif;
}

header{
  align-items: center;
  background-color: #00e673;
  display: flex;
  justify-content: flex-end;
  padding: 15px;
}

h1{
  color: black;
  font-size: 60px;
  letter-spacing: 10px;
  margin: 5px auto;
}

nav{
  margin: 5px auto;
}

header a{
  color: white;
  font-size: 22px;
  font-weight: bold;
  padding: 15px;
  text-decoration: none;
}

.main h3{
  font-size: 24px;
  margin-bottom: 20px;
  margin-left: 20px;
}

.container{
  display: flex;
  flex-flow: row wrap;
  height: 68vh;
  justify-content: center;
  margin: 30px auto;
}

.loginSection{
  margin-right: 20px;
}

.loginSection h2{
  padding: 15px;
}

#loginForm{
  display: flex;
  flex-direction: column;
  padding: 15px;
}

#loginForm input{
  padding: 8px;
  margin: 10px 0;
}

#loginForm button{
  padding: 8px;
  margin-top: 10px;
}

.signupSection{
  border-left: 1px solid black;
  padding-left: 20px;
}

.signupSection h2{
  padding: 15px;
}

#signupForm{
  display: flex;
  flex-direction: column;
  padding: 15px;
}

#signupForm input{
  padding: 8px;
  margin: 10px 0;
  width: 200px;
}

#signupForm button{
  padding: 8px;
  margin-top: 10px;
}

.home{
  background-color: #e6ecff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#titles{
  flex-basis: 100%;
  padding: 15px;
  text-align: center;
}

#titles h4{
  color: #404559;
  font-size: 42px;
  margin-top: 10px;
}

.section{
  background-color: #c4c7d4;
  color: #404559;
  flex-basis: 300px;
  height: 150px;
  margin: 20px 30px;
  padding: 20px;
  text-align: center;
}

.section a{
  background-color: #f0f1f4;
  color: black;
  font-size: 20px;
  margin: 10px;
  padding: 5px 9px;
  text-decoration: none;
}

.section p{
  font-size: 32px;
  margin: 10px;
  padding-bottom: 20px;
  text-decoration: none;
}

.deckInfo{
  flex-basis: 100%;
  padding: 15px;
}

#buildNewDeck{
  text-align: center;
}

#buildNewDeck button{
  font-size: 20px;
  padding: 8px;
  margin: 10px 5px;
  width: 170px;
}

#buildNewDeck input{
  font-size: 20px;
  padding: 8px;
  margin: 10px 5px;
  width: 400px;
}

.cardsMain{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.changeCards{
  flex-basis: 100%;
}

.changeCards h3{
  font-size: 36px;
  margin-bottom: 10px;
  text-align: center;
}

#addCardSection{
  flex-basis: 100%;
  text-align: center;
}

#addCard button{
  font-size: 20px;
  padding: 8px;
  margin: 10px 5px;
  width: 170px;
}

#addCard input{
  font-size: 20px;
  padding: 8px;
  margin: 10px 5px;
  width: 350px;
}

.eachCard{
  background-color: #f0f1f4;
  border: 1px solid black;
  color: black;
  flex-basis: 300px;
  height: 150px;
  margin: 20px 30px;
  padding: 20px;
  text-align: center;
}

.eachCard p{
  padding: 15px;
}

.editCard input{
  font-size: 20px;
  padding: 8px;
  margin: 10px 5px;
  width: 350px;
}
